.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.main-content {
  flex: 1;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.app-header {
  display: flex;     
   
  align-items: center;
  height: 40px;
  margin-bottom: var(--spacing-md);
  -webkit-app-region: drag;
}

.app-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--color-black);
  align-items: center;
}

.job-description {
  height: 120px;
  padding: var(--spacing-md);
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-md);
  font-family: var(--font-family);
  resize: none;
  outline: none;
}

.job-description:focus {
  border-color: var(--color-black);
}

.file-upload-buttons {
  display: flex;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  flex-wrap: wrap;
  align-items: center;
}

.file-upload-button {
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: opacity 0.2s;
}

.file-upload-button:hover {
  opacity: 0.8;
}

.saved-resumes-wrapper {
  margin-left: auto;
}

.file-name {
  margin-bottom: var(--spacing-md);
  font-size: 14px;
  color: var(--color-gray-60);
}

.editor-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

/* Styling for tabbed interface */
.tab-container {
  display: flex;
  border-bottom: var(--border);
  background-color: var(--color-white);
}

.tab {
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  border: var(--border);
  border-bottom: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin-right: var(--spacing-sm);
  background-color: var(--color-gray-10);
  font-size: 14px;
  transition: background-color 0.2s;
}

.tab:hover {
  background-color: var(--color-gray-20);
}

.tab.active {
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
  margin-bottom: -1px;
  font-weight: 500;
}

.tab-content {
  flex: 1;
  overflow: hidden;
} 